.storm-main-nav__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $white;
  box-shadow: 0px 5px 5px $table-border-color;

  &--expanded {
    display: block;
  }
}

.storm-main-nav__list {
  @include resetList;
}

.storm-main-nav__item {
  padding: 1rem 0;
}

.storm-main-nav__link {
  color: $black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
}

.storm-main-nav__btn {
  background-color: transparent;
  border: 0;
  padding: 0;
}
