.storm-btn {
  @include mainBtnStyles;
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus-visible {
    background-color: #344293;
  }
}

.storm-btn-secondary {
  @include mainBtnStyles;
  background-color: #f9f9fb;
  color: $black;

  &:hover,
  &:focus-visible {
    color: #605dec;
  }
}

.storm-btn-link {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
