.storm-header {
  padding: 2.5rem 0 0;
  position: relative;
  z-index: 2000;
}

.storm-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--mobile {
    margin-top: 1rem;

    @include md {
      display: none;
    }
  }
}

.storm-header__mobile-nav {
  @include md {
    display: none;
  }
}

.storm-header__utils {
  flex: 1;
}

.storm-header__search-container {
  flex: 1;
}

.storm-header__search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.storm-header__search-input {
  border: 1px solid $input-border-color;
  border-radius: 4px;
}

.storm-header__img {
  width: 100%;
}

.storm-header__img-container {
  max-width: 210px;
}

.storm-header__search-input {
  min-height: 44px;
  flex: 1;
}
