// Colors
$white: #fff;
$black: #000;
$primary: #5d5fef;
$secondary: #344293;
$blue: #ededfe;
$blue-text: #605dec;
$green: #ebf6eb;
$green-text: #31aa27;
$yellow: #fff4e4;
$yellow-text: #e99518;
$red: #fff0f0;
$red-text: #f93232;

// Components
$btn-text-color-hover: #605dec;
$input-border-color: #dcdfe3;
$table-border-color: #e4e4ef;
